# ===========================
# IDEs e Sistema
# ===========================
.vscode/
.DS_Store
Thumbs.db

# ===========================
# Compilação (Intermediários)
# ===========================
*.o
*.obj

*.d

*.dSYM/
*.pdb

# ===========================
# Bibliotecas Estáticas
# ===========================
*.a
*.lib

# ===========================
# Binários Finais
# ===========================
ttesp32
ttds4
ttcc

*.exe
*.dll

*.out
