name: Compilar e Lançar Binários (Multi-Platform)

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  build_linux:
    name: Build Linux (GNU)
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - name: Instalar Dependências (Pacman)
        run: |
          pacman --needed --noconfirm -Syu
          pacman --needed --noconfirm -S git
          pacman --needed --noconfirm -S zip
          pacman --needed --noconfirm -S base-devel

      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Compilar libusb Estático (Sem Udev)
        run: |
          echo "[INFO]: Baixando e compilando libusb..."
          git clone "https://github.com/libusb/libusb.git"
          cd libusb
          ./bootstrap.sh
          ./configure --prefix=/usr --enable-static --disable-shared --disable-udev
          make -j$(nproc)
          make install
          cd ..

      - name: Compilar (Static Mode)
        run: make static

      - name: Criar ZIP (Linux)
        run: zip -r linux.zip ttds4 ttesp32

      - name: Upload Artifacts (Linux)
        uses: actions/upload-artifact@v4
        with:
          name: package-linux
          path: linux.zip
          if-no-files-found: error

  build_macos:
    name: Build MacOS (XNU)
    runs-on: macos-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar Dependências (Homebrew)
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
        run: |
          brew install git
          brew install zip
          brew install pkg-config
          brew install libusb

      - name: Compilar (Static Mode)
        run: make static

      - name: Criar ZIP (MacOS)
        run: zip -r macos.zip ttds4 ttesp32

      - name: Upload Artifacts (MacOS)
        uses: actions/upload-artifact@v4
        with:
          name: package-macos
          path: macos.zip
          if-no-files-found: error

  build_windows:
    name: Build Windows (MSYS2 UCRT64)
    runs-on: windows-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          install: >-
            git
            zip
            base-devel
            mingw-w64-ucrt-x86_64-toolchain
            mingw-w64-ucrt-x86_64-libusb

      - name: Compilar (Static Mode)
        shell: msys2 {0}
        run: make static

      - name: Criar ZIP (Windows)
        shell: msys2 {0}
        run: zip -r windows.zip ttds4.exe ttesp32.exe

      - name: Upload Artifacts (Windows)
        uses: actions/upload-artifact@v4
        with:
          name: package-windows
          path: windows.zip
          if-no-files-found: error

  release:
    name: Criar Release
    needs: [build_linux, build_windows, build_macos]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
    permissions:
      contents: write

    steps:
      - name: Download Artifact (Linux)
        uses: actions/download-artifact@v4
        with:
          name: package-linux

      - name: Download Artifact (MacOS)
        uses: actions/download-artifact@v4
        with:
          name: package-macos

      - name: Download Artifact (Windows)
        uses: actions/download-artifact@v4
        with:
          name: package-windows

      - name: Deletar Release e Tag 'latest' antigas
        uses: dev-drprasad/delete-tag-and-release@v1.0
        with:
          delete_release: true
          tag_name: latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Sleep for 4 seconds
        run: sleep 4

      - name: Formatar Data do Commit
        run: |
          export TZ="America/Sao_Paulo"
          RAW_DATE="${{ github.event.head_commit.timestamp }}"
          FORMATTED_DATE=$(date -d "$RAW_DATE" +'%d/%m/%Y %H:%M')
          echo "DATA_FORMATADA=$FORMATTED_DATE" >> $GITHUB_ENV

      - name: Criar Nova Release 'latest'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          name: Tamandutech Core Collections (TTCC)
          body: |
            Build automatizado multi-plataforma.

            **Commit:** ${{ github.sha }}
            **Data:** ${{ env.DATA_FORMATADA }}

            **Conteúdo:**
            - [`windows.zip`][baixar_windows_zip]: Binários (PE64 / PE32+) para Windows (X64)
            - [`macos.zip`][baixar_macos_zip]: Binários (Mach-O64) para MacOS (X64 / AArch64)
            - [`linux.zip`][baixar_linux_zip]: Binários (ELF64) para Linux (X64)

            [baixar_windows_zip]: https://github.com/GabrielFrigo4/TTCC/releases/download/latest/windows.zip
            [baixar_macos_zip]: https://github.com/GabrielFrigo4/TTCC/releases/download/latest/macos.zip
            [baixar_linux_zip]: https://github.com/GabrielFrigo4/TTCC/releases/download/latest/linux.zip
          target_commitish: ${{ github.sha }}
          files: |
            windows.zip
            macos.zip
            linux.zip
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
